@inherits LayoutComponentBase

<header class="fixed top-0 w-full z-50 bg-[#f7f9fb]/80 dark:bg-slate-950/80 backdrop-blur-xl">
<nav class="flex flex-row-reverse justify-between items-center w-full px-6 py-4 max-w-7xl mx-auto font-manrope rtl text-right">
<div class="text-2xl font-bold text-[#191c1e] dark:text-white tracking-tight">
               بنك المبرمجين
            </div>
<div class="flex items-center gap-6">
<span class="material-symbols-outlined text-[#434656] dark:text-slate-400 hover:bg-[#e0e3e5] p-2 rounded-full transition-colors cursor-pointer" data-icon="language">language</span>
<span class="material-symbols-outlined text-[#434656] dark:text-slate-400 hover:bg-[#e0e3e5] p-2 rounded-full transition-colors cursor-pointer" data-icon="help_outline">help_outline</span>
</div>
</nav>
</header>

<div class="Login">

	@Body
</div>